a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.body {
  background-image: url(../assets/Pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 50%;
  max-width: 1280px;
  padding: 0 80px;
  margin: 0 auto;
}